@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your styles (e.g., global CSS file) */
@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.flip-card {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

