/* AccountDeletionRequests.css */
:root {
    --primary-color: #007bff;
    --secondary-color: #333333;
    --background-color: #ffffff;
    --border-color: #ccc;
    --error-color: #ff0000;
    --success-color: #28a745; /* Green color for success messages */
    --table-row-alt-color: #f2f2f2;
}

.account-deletion-requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100vw;
    padding: 50px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24, 26, 27, 0.1);
}

.account-deletion-requests h2 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-size: 2em;
}

.account-deletion-requests .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 50%;
}

.account-deletion-requests .controls label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
    color: var(--secondary-color);
}

.account-deletion-requests .controls input,
.account-deletion-requests .controls select {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1em;
}

.account-deletion-requests .requests-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: var(--background-color);
}

.account-deletion-requests .requests-table th,
.account-deletion-requests .requests-table td {
    padding: 10px;
    border: 1px solid var(--border-color);
    text-align: left;
    color: var(--secondary-color);
}

.account-deletion-requests .requests-table th {
    background-color: var(--primary-color);
    color: #ffffff;
}

.account-deletion-requests .requests-table tr:nth-child(even) {
    background-color: var(--table-row-alt-color);
}

.account-deletion-requests .requests-table td button {
    margin-right: 10px; /* Add margin between buttons */
}

.account-deletion-requests .loading,
.account-deletion-requests .error {
    text-align: center;
    color: var(--error-color);
    font-weight: bold;
    margin-top: 20px;
}

.account-deletion-requests .success {
    text-align: center;
    color: var(--success-color); /* Green color for success messages */
    font-weight: bold;
    margin-top: 20px;
}

.account-deletion-requests .navigation-buttons {
    display: flex;
    gap: 10px; /* Add margin between navigation buttons */
}